<h1>Galerija slika</h1>
<section class="gallery">
<% images.forEach(image => { %>
<figure>
<img src="<%= image.url %>" alt="<%= image.title %>">
<figcaption><%= image.title %></figcaption>
</figure>
<% }); %>
</section>
